* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
   background-color:white;
    
    font-family: "Poppins", sans-serif;
  }
  
  header a {
    text-decoration: none;
  }
  
  header {
  
    padding: 0 20px;
    background-color: #1d1f1d;
    height: 50px;
    display: flex;
    justify-content: space-between;
    
  }
  
  #brand {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  
  #brand a {
    color: #09c372;
  }
  
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    
  }
  li{
    float: left;
  }
  
  ul a {
    color: white;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  ul li a:hover{
    color: #09c372;
  }
  #login,
  #signup {
    border-radius: 5px;
    padding: 5px 8px;
  }
  
  #login {
    border: 1px solid #09c372;
  }
  
  #signup {
    border: 1px solid #09c372;
  }
  
  #signup a {
    color: #09c372;
  }
  
  #login a {
    color: #09c372;
  }
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
  }
  .connect{
       margin-top: 40px;
       text-align: center;
       font-size: 1.5rem;
       font-weight: bold;
  }
  .connect i{
    color: #09c372;
  }
  .work{
    margin-top: 40px;
    margin-left: 40px;
  }
  .work p{
    font-size: 1.5rem;
  }
  .work span{
    color: #3eeaa0;
  }

  .container{
    background:linear-gradient(45deg, rgb(206, 176, 206), rgb(155, 247, 155));
    padding: 15px 9%;
    padding-bottom: 100px;
    margin-top: 30px;
}


.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:20px 10px;
}

.container .box-container .box img{
    /*max-width: 100%;
    height: auto;
    display: block;*/
    height: 120px;
    width: 120px;
    border-radius: 50%;
  

}
.container .box-container .box a{
  text-decoration: none;
  color: black;
}

.container .box-container .box h3{
  color:#444;
  font-size: 22px;
  
} 



.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}